.dining-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items:end;
}


.table-list {
    position: relative;
    width: 100%;
    height: 100%;
}

.table-item {
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.table-number {
    font-size: 1.1em;
    padding: 0.5em;
}
