/* .sidebar {
    position: fixed;    
    top: 60;
    left: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
} */

.sidebar h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 25px 0;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}

.sidebar ul li.active {
    font-weight: bold;
    color: #3182F6;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #3182F6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #0056b3;
}


