.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #676767;
    text-align: start;
}

.status {
    font-size: 14px;
    color: #666;
}

.header button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.header .add-category {
    background-color: #3182F6;
}

.header button:hover {
    opacity: 0.9;
}
