.item-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.item-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.item-modal-header h2{
    font-size: 17px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #676767;
    text-align: start;
    border-bottom: 1px solid #b5b5b5;
}

.item-modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #d2d2d2;
    color: #474747;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 15px;
}

.form-group,
.itemModal-tax {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* label과 input 사이 여백 */
    margin-bottom: 10px; /* 그룹 간 여백 */
}

.form-group label,
.itemModal-tax label {
    flex: 0 0 100px; /* 고정 너비 설정 */
    text-align: left;
}

.form-group input,
.form-group select {
    flex: 0.8; /* 나머지 공간 차지 */
    padding: 5px;
    font-size: 14px;
}

.radio-group {
    display: flex;
    flex: 0.8; /* 나머지 공간 차지 */
}

.item-modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.item-modal-footer button {
    padding: 10px 20px;
}

.form-group input[type="checkbox"]{
    margin-right: 10px;
}
